apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: raspi-weather
  name: raspi-weather
  # namespace: staging  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: raspi-weather
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: raspi-weather
    spec:
      containers:
      - image: {{ .Values.weather_app.image}}
        imagePullPolicy: IfNotPresent
        name: raspiweather           
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: {{ .Values.mysql.rootPassword}}          
        - name: MYSQL_HOST
          value: {{ .Values.mysql.host}}
        - name: MYSQL_DATABASE
          value: {{ .Values.mysql.database}}           
        - name: MYSQL_USER
          value: {{ .Values.mysql.user}}
        - name: MYSQL_PASSWORD
          value: {{ .Values.mysql.password}}   
        - name: DD_AGENT_HOST
          valueFrom:
              fieldRef:
                  fieldPath: status.hostIP                                  
        volumeMounts:
        - name: host-volume
          mountPath: /mnt/host-data          
        resources: {}
        securityContext:
          privileged: true
      volumes:
      - name: host-volume
        hostPath:
          path: /home/pi5/weather_app
          type: DirectoryOrCreate    
      nodeSelector:
        deployment_node: sensehatpi 
      restartPolicy: Always  
status: {}
